.sec-Energia {
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 15px;
}

.Title-Energia {
  text-align: center;
  font-size: 3rem;
  color: var(--primeira-cor);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.subTitle-Energia {
  text-align: center;
  margin-top: 15px;
}

.Content-Energia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.Text-Energia {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}

.link-Energia {
  color: var(--primeira-cor);
}

.Box-Icon-Energia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
}

.Single-Icon-Energia {
  background-color: #e1ecf2;
  width: 100px;
  height: 100px;
  padding: 20px;
  cursor: pointer;
}

.Single-Icon-Energia:hover {
  box-shadow: 0 0 5px 0px #e2e2e2;
}

@media (min-width: 750px) {
  .Content-Energia {
    flex-direction: row;
    gap: 180px;
  }

  .Text-Energia {
    width: 45%;
  }

  .Single-Icon-Energia {
    width: 125px;
    height: 125px;
  }
}
