.sec-Energia {
  margin-bottom: 80px;
  margin-top: 150px;
}

.Title-Energia {
  text-align: center;
}

.subTitle-Energia {
  text-align: center;
  margin-top: 15px;
}

.Content-Energia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.Text-Energia {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.Box-Icon-Energia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Single-Icon-Energia {
  background-color: turquoise;
  padding: 20px;
}

@media (min-width: 750px) {
  .Content-Energia {
    flex-direction: row;
    gap: 180px;
  }

  .Text-Energia {
    width: 45%;
  }
}
