.titulo_team {
  font-size: 3rem;
  margin: 8rem 0 3rem 2rem;
  color: var(--primeira-cor);
}

.img_team {
  width: 10rem;
}

.caixa_teams {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.caixa_team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.nome_team {
  margin: 2rem;
  font-size: 1.5rem;
}

.texto_team {
  font-size: 0.8rem;
  margin-left: 2rem;
}

.caixa_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_team {
  margin-top: 1.5rem;
  width: 3.75rem;
}

@media (max-width: 800px) {
  .caixa_teams {
    flex-direction: column;
  }
}
