.titulo_team {
  font-size: 3rem;
  margin: 10rem 0 3rem 4rem;
  color: var(--primary-color);
}

.img_team {
  width: 12.5rem;
}

.caixa_teams {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa_team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.nome_team {
  margin: 2rem;
}

.texto_team {
  margin-left: 2rem;
}

.caixa_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_team {
  margin: 1.5rem 0 0 -2.5rem;
  width: 3.75rem;
}

@media (max-width: 900px) {
  .caixa_teams {
    flex-direction: column;
  }
}
