.footer {
  width: 100%;
  text-align: center;
  color: var(--terceira-cor);
  font-size: 1rem;
  background-color: var(--primeira-cor);
  padding: 1.125rem;
  border-top: 0.063rem solid;
  flex-shrink: 0;
  height: 50px;
}
