.titleAquecedor {
    font-size: 3rem; 
    color: rgb(0, 128,54);
    margin-bottom: 3rem;
    margin-top: 3rem;;
}

.subTitle {
   font: 1.5rem  normal;
   margin:1.5rem;
   margin-bottom: 2rem;
}

.boxAquecedor{
    display: flex;
    flex-direction: column;
     margin: 2rem;
}

.listAquecedor {
    list-style: none;
    font-size: 1.2rem;
    padding:.8rem;
}

.optionAquecedor {
   width: 2.6rem;
   height: 1.3rem;
   
}