.titleAquecedor {
    font-size: 3rem; 
    color: rgb(0, 128,54);
    padding: 1rem;
}

.subTitle {
   font: 1.8rem  normal;
   padding: 2.5rem;
}

.boxAquecedor{
    display: flex;
    flex-direction: column;
    padding-left: 4.5rem;
}

.listAquecedor {
    list-style: none;
    padding: 1rem;
    font-size: 1.2rem;
}

.optionAquecedor {
   width: 2rem;
   height: 1.3rem;
   
}