:root {
  --primeira-cor: #008036;
  --segunda-cor: #ffff66;
  --terceira-cor: #e1ebf2;
  --quarta-cor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: var(--primeira-cor);
}

.App main {
  margin-top: 110px;
}
