:root {
  --primeira-cor: #008036;
  --segunda-cor: #ffff66;
  --terceira-cor: #e1ebf2;
  --quarta-cor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body, #root, .App {
 height:100%;
}

h1 {
  color: var(--primeira-cor);
}


main {
  height: 100%;
  margin-top: 110px;
  /*min-height: calc(100vh - 50px - 110px);*/

}


