.imagem-home {
  background-image: url("../../assets/img/imagem-home.jpg");
  background-size: cover;
  background-position: 0 12%;
  background-repeat: no-repeat;
  height: calc(100vh - 90px - 50px);
  display: flex;
  padding: 0 50px;
  align-items: center;
}

.sobre-luz-verde {
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre-luz-verde p {
  margin-top: 15px;
}

.Title-LuzVerde {
  font-size: 3.5rem;
}

.subtituloLuz {
  font-size: 1rem;
}

.btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 1.3rem;
  background: var(--primeira-cor);
  color: var(--quarta-cor);
  text-decoration: none;
  border: 0.3rem solid transparent;
  padding: 1rem;
  border-radius: 30px;
  font-size: 1rem;
  transition: all 0.5s;
  outline: none;
}

.btn-home:hover {
  color: var(--primeira-cor);
  background: var(--terceira-cor);
  cursor: pointer;
  border: 0.3rem solid var(--segunda-cor);
}

.home-link {
  text-decoration: none;
  color: inherit
}

@media (max-width: 767px) {
  .imagem-home {
    justify-content: center;
    font-size: 16px;
    padding: 5px 0;
    background-position-x: 60%;
  }
}
